/* modal.module.css */

/* Modal Overlay */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Modal Content */
.modal-content {
  display: none;
  background-color: #fff;
  color: #5b6f09;
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
  text-align: center; /* Centrer le contenu du modal */
  z-index: 2; /* Assurez-vous que le modal est au-dessus de l'overlay */
  position: fixed;
  width: 40%;
  height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles pour le bouton de fermeture */
.close-btn {
  cursor: pointer;
  background-color: #5b6f09;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 100px;
}

.close-btn:hover {
  background-color: #93ad18;
}

.close-icone {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

/* Bouton d'icône */
button.icone {
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  color: #5b6f09;
}

button.icone:hover {
  background-color: #93ad18;
  color: white;
}

/* Affiche le modal et son contenu si la classe "open" est ajoutée */
.modal-overlay.open {
  display: flex;
}

.modal-content.open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
